<div class="card my-4">
  <h5 class="card-header">Track your submissions</h5>
  <div class="card-body">
    <p>
      You can add your stories to Submit for easy submissions to your favorite
      publishers and track their status every step of the way.
    </p>
    <p>
      <%= link_to 'Get started in 30 seconds for free', '#' %>.
    </p>
  </div>
</div>
