<h1>Editing Solicitation Bookmark</h1>

<%= render 'form', solicitation_bookmark: @solicitation_bookmark %>

<%= link_to 'Show', @solicitation_bookmark %> |
<%= link_to 'Back', solicitation_bookmarks_path %>
