<div class="card my-4">
  <h5 class="card-header">Leave a Comment:</h5>
  <div class="card-body">
    <%= form_for(Comment.new) do |f| %>
      <%= f.hidden_field :publisher_id, value: publisher.id %>
      <div class="form-group">
        <%= f.text_area :body, class: 'form-control', rows: 3 %>
      </div>
      <%= f.submit 'Submit', class: 'btn btn-primary btn-outline-primary' %>
    <% end %>
  </div>
</div>
